In [1]:
1 / 2

0.5

In [2]:
2 ** 16

65536

In [3]:
5 % 2

1

In [5]:
x = 'hello'
print(x)

hello

In [6]:
x

'hello'

In [8]:
num = 12
name = 'Sam'

print('My name is {} and my number is {}.'.format(name,num))

My name is Sam and my number is 12.

In [10]:
print('My name is {two} and my number is {one}.'.format(one=name,two=num))

My name is 12 and my number is Sam.

In [17]:
s = 'abcdefghijk'
s[0]

'a'

In [18]:
s[0:]

'abcdefghijk'

In [20]:
s[0:3]

'abc'

In [21]:
s[:3]

'abc'

In [22]:
s[3:]

'defghijk'

List

In [23]:
my_list = ['a', 'b', 'c']

my_list.append('d')

my_list

In [25]:
my_list[1:3]

['b', 'c']

In [26]:
my_list[0] = 'NEW'

In [27]:
my_list

['NEW', 'b', 'c', 'd']

In [28]:
nest = [1,2,[3,4]]

In [30]:
nest

[1, 2, [3, 4]]

In [32]:
nest[2][1]

4

In [37]:
nest2 = [1,2,3,[4,5,['target']]]

In [42]:
print(nest2[3][2][0])

target

In [43]:
dict = {'key1': 'value1', 'key2': 'value2'}

In [44]:
dict['key1']

'value1'

In [47]:
d = {'k1': [1,2,3]}

d['k1']

[1, 2, 3]

In [48]:
d['k1'][2]

3

In [49]:
d2 = {'k1': {'innerkey':[1,2,3]}}

In [53]:
d2['k1']['innerkey'][2]

3

In [54]:
my_list = [1,2,3]

In [55]:
t = (1,2,3)

In [56]:
t[0]

1

In [58]:
{1,2,3}

{1, 2, 3}

In [59]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [60]:
set([1,2,2,2,3,3,3])

{1, 2, 3}

In [61]:
s = {1,2,3}
s.add(5)

In [63]:
s

{1, 2, 3, 5}

In [64]:
1 > 2

False

In [65]:
1 < 2

True

In [66]:
1 == 1

True

In [67]:
1 != 2

True

In [68]:
'hi' == 'by'

False

In [71]:
(1 < 2 and 2 > 3)

False

In [72]:
(1 < 2 or 2 > 3)

True

In [73]:
if 1 < 2:
    print('yea')

yea

In [75]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [79]:
seq = [1,2,3,4,5]

for num in seq:
    print('hello',num)

hello 1
hello 2
hello 3
hello 4
hello 5

In [80]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [82]:
for x in range(100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [83]:
x = [1,2,3,4]
out = []

for num in x:
    out.append(num*2)

print(out)

[2, 4, 6, 8]

In [85]:
out = [num*2 for num in x]

In [1]:
def my_func(param1):
    print(param1)

my_func('x')

x

In [3]:
def square(num):
    '''
    dokumentacja
    '''
    return num**2

output = square(2)

output

4

In [5]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [5]:
seq = [1,2,3,4,5]

list(map(lambda var: var * 2,seq))

[2, 4, 6, 8, 10]

In [4]:
t = lambda var: var * 2
t(2)

4

In [6]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [8]:
s = 'hello my name is sam'

s.lower()
s.upper()

'HELLO MY NAME IS SAM'

In [9]:
s.split()

['hello', 'my', 'name', 'is', 'sam']

In [10]:
tweet = 'Go Sports! #Sports'

In [11]:
tweet.split(' ')

['Go', 'Sports!', '#Sports']

In [12]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [13]:
tweet.split('#')[1]

'Sports'

In [14]:
d = {'k1': 1, 'k2': 2}

d.keys()

dict_keys(['k1', 'k2'])

In [15]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [16]:
d.values()

dict_values([1, 2])

In [24]:
lst = [1,2,3]

lst.pop()

3

In [23]:
lst.pop()

2

In [25]:
lst.pop(0)

1

In [26]:
lst

[2]

In [27]:
lst.append('new')

In [28]:
lst

[2, 'new']

In [29]:
'x' in [1,2,3,'x']

True

In [30]:
x = [(1,2),(3,4),(5,6)]

In [31]:
x[0][1]

2

In [36]:
for a,b in x:
    print(b)

2
4
6