In [1]:
import numpy as np
import pandas as pd

In [14]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a': 10,'b' : 20, 'c': 30}

In [7]:

pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64